.content {
  padding-inline: 15px;

  @media @screen-gt-s {
    padding-inline: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 698px;
  }

  @media @screen-gt-m {
    max-width: 930px;
  }
}
